<div class="container-fluid">
  <div class="row justify-content-center align-items-center ">
      <div class="col-12 ">
          <table>
              <thead>
                  <tr>
                      <th>№</th>
                      <th>
                          <a href="" ng-click="sort('name')">
                              ФИО
                          </a>
                      </th>
                      <th>Номер телефона</th>
                      <th>Эл. почта</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let person of persons; index as i">
                      <td>{{i+1}}</td>
                      <td>{{person.name}}</td>
                      <td>{{person.phone}}</td>
                      <td>{{person.email}}</td>
                      <td>
                          <div class="btn-group" role="group" aria-label="Person edit">
                              <button type="button" class="btn btn-primary"
                                  (click)="editPerson(i)">Редактировать</button>
                              <button type="button" class="btn btn-danger" *ngIf="this.PersonService.currentPersonId == -1"
                                  (click)="deletePerson(i)">Удалить</button>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>